.post {
  background-color: #052e05;
  border-radius: 8px;
  padding: 2.5rem;
}

.post + .post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  color: rgb(88, 85, 85);
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: rgb(71, 71, 71);
  text-decoration: none;
}

.content a:hover {
  background-color: rgb(237, 229, 229);
  transition: 2s;
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header time {
  font-size: 0.875rem;
  color: grey;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author img {
  box-sizing: initial;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  border: 2px solid green;
  outline: 2px solid grey;
}
.authorInfo strong {
  display: block;
  color: grey;
  line-height: 1.6;
}

.authorInfo span {
  display: block;
  font-size: 0.875rem;
  color: grey;
  line-height: 1.6;
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgb(42, 41, 41);
}

.commentForm > strong {
  line-height: 1.6;
  color: gray;
}

.commentForm textarea {
  width: 100%;
  background: #023502;
  border: 0;
  resize: none;
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
  color: gray;
  line-height: 1.4;
  margin-top: 1rem;
}

.commentForm footer {
  /*sumir o button quando clicamos na textarea*/
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  /* aparecer o button quando clicamos na textarea*/
  visibility: visible;
  max-height: none;
}

.commentForm button[type="submit"] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background: #052e05;
  color: gray;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid rgb(19, 125, 19);
}

.commentForm button[type="submit"]:hover {
  background-color: rgb(35, 84, 35);
  color: gray;
}

.commentList {
  margin-top: 2rem;
}
